.stock-tab-menu {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: var(--spacing-sm);
}

.timeline-item {
  align-items: flex-start;
}

.timeline-icon {
  background-color: var(--bg-tertiary);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
